:root {
  --border: rgb(234, 234, 234);
  --bg-primary: white;
  --text-primary: rgb(35 35 35);
  --text-secondary: rgb(31, 155, 240);
}

body {
  @apply min-h-screen bg-light-300;
}
#__nuxt {
  @apply w-full flex flex-col items-center;
}
.btn {
  @apply border px-4 py-2 rounded-xl transition focus:outline-blue-500;
}
.btn-primary {
  @apply bg-blue-500 hover:bg-blue-600 text-white border-blue-500 focus:outline-blue-600;
}
.btn-pale {
  @apply bg-white hover:bg-light-50  text-blue-500;
}
.tag {
  @apply w-min px-4 py-2 rounded-xl transition text-white text-xs font-bold;
}
.description {
  @apply text-sm italic text-gray-400;
}
label {
  @apply mb-1;
}
input,
select {
  @apply px-4 py-2 rounded-lg border placeholder-gray-300 transition focus:outline-blue-500;
}
